<!DOCTYPE html>
    <head>
        <meta charset="utf-8">

        <title></title>
        <meta name="description" content="">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    </head>

    <body>
     <main>

      <section id="vending-machine">
      <% if(typeof errMessage!="undefined"){%>
              <h2>
                <article id="flash-message"> <%= errorMessage ? errorMessage : "" %></article>
              </h2>
              <%} else{%>
              <article id="flash-message">Buy Drinks!</article>
              <%}%>
          <article id="snack-collection">
            <ul>
              <li>
                <img src="http://placehold.it/75x75" class="snack" id="apple" alt= "coke"/>
              </li>
              <li>
                <img src="http://placehold.it/75x75" class="snack" id="snickers" />
              </li>
               <li>
                <img src="http://placehold.it/75x75" class="snack" id="twix"/>
              </li>
            </ul>

            <ul>
              <li>
                <img src="http://placehold.it/75x75" class="snack" id="peanuts"/>
              </li>
              <li>
                <img src="http://placehold.it/75x75" class="snack" id="almonds"/>
              </li>
               <li>
                <img src="http://placehold.it/75x75" class="snack" id="potato-chips"/>
              </li>
            </ul>

            <ul>
              <li>
                <img src="http://placehold.it/75x75" class="snack" id="doritos"/>
              </li>
              <li>
                <img src="http://placehold.it/75x75" class="snack" id="skittles"/>
              </li>
               <li>
                <img src="http://placehold.it/75x75" class="snack" id="nutterbutter"/>
              </li>
            </ul>
          </article>
          <div class="feet"></div>
          <div class="feet"></div>
        </section>
      
         <form action="/purchase/purchase" method="POST">
                  <select class="form-group" aria-label="what do you want">
                    <option selected>what do you want</option>
                    <option value="coke">coke</option>
                    <option value="pepsi">pepsi</option>
                    <option value="dew">dew</option>
                  </select>
                  <div class="form-group">
                    <input type="text" class="form-control" name="quantity" placeholder="quantity" required />
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="load amount" placeholder="amount" required />
                  </div>
                  <div class="col-3">
                    <button class="btn btn-lg btn-primary btn-block" type="buy">buy</button>
                  </div>
                </form>
      </main>
        <script src="js/main.js"></script>
    </body>
</html>
